.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/daniel-schludi-mAGZNECMcUg-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 321px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 73px 208px 60px 173px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: -8px;
  }

  .u-section-1-1 .u-text-2 {
    width: 760px;
    margin-left: 73px;
    margin-right: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/mufid-majnun-cM1aU42FnRg-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  width: 760px;
  margin: 237px auto 0;
}

.u-section-1-2 .u-image-1 {
  width: 659px;
  height: 406px;
  margin: 61px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1-2 .u-image-1 {
    height: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 334px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 210px;
  }
}.u-block-d878-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d878-3 {
  position: absolute;
  left: 0;
}

.u-block-d878-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 324px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-1 {
  width: 170px;
  height: 151px;
  object-position: 50% 54.87%;
  margin: 21px auto 0;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  margin: 20px 106px 0 129px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 84px 0 105px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 324px;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 0 30px 30px;
}

.u-section-2 .u-image-2 {
  width: 177px;
  height: 157px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  width: 236px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  width: 236px;
  animation-duration: 1000ms;
  margin: 11px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 279px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-3 {
  width: 177px;
  height: 158px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  width: 172px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  width: 172px;
  animation-duration: 1000ms;
  margin: 11px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 383px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-4 {
  width: 196px;
  height: 170px;
  object-position: 50% 59.97%;
  margin: 18px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  width: 167px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  animation-duration: 1000ms;
  margin: 15px 106px 0 172px;
}

.u-section-2 .u-btn-1 {
  animation-duration: 1000ms;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50% 100%;
    height: 152px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 56px;
    margin-left: 79px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 34px;
    margin-left: 55px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 230px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 316px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 56px;
    margin-left: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 1px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 1px;
    margin-left: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}